{% macro dashboard1(data1=0, data2=0, data3=0, data4=0, item1='昨日产能', item2='整体良率', item3='整体前2大集中度', item4='产能同比前天') -%}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="{{data1}}">0</span>万
                </div>
                <div class="desc"> {{item1}} </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="#">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="{{data2}}">0</span>% 
                </div>
                <div class="desc"> {{item2}} </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="{{data3}}">0</span>% 
                </div>
                <div class="desc"> {{item3}} </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number"> {% if data4 > 0 %}+{% endif %}
                    <span data-counter="counterup" data-value="{{data4}}">0</span>% 
                
                </div>
                <div class="desc"> {{item4}} </div>
            </div>
        </a>
    </div>
</div>
<div class="clearfix"></div>
{%-endmacro %}


{% macro custom_echart(custom_chart, id='', title='', subtitle='') %}
<!-- BEGIN PORTLET-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-dark hide"></i>
            <span class="caption-subject font-dark bold uppercase">{{title}}</span>
            <span class="caption-helper">{{subtitle}}</span>
        </div>
        <!-- <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <label class="btn red btn-outline btn-circle btn-sm active">
                    <input type="radio" name="options" class="toggle" id="option1">周数据</label>
                <label class="btn red btn-outline btn-circle btn-sm">
                    <input type="radio" name="options" class="toggle" id="option2">月数据</label>
            </div>
        </div> -->
    </div>
    <div class="portlet-body">
        <div id="{{id}}_loading">
            <img src="/frontend/global/img/loading.gif" alt="loading" /> </div>
        <div id="{{id}}_content" class="display-none">
            {{custom_chart|safe}}
        </div>
    </div>
</div>
<!-- END PORTLET-->
<script type="text/javascript">
    $(document).ready(function() {
        if ($('#{{id}}_content').size() != 0) {
            $('#{{id}}_loading').hide();
            $('#{{id}}_content').show();
        }
    });
</script>
{%-endmacro %}


{% macro custom_echart_1(custom_chart, id='', title='', subtitle='', mes1='', mes2='', mes3='', mes4='') %}
<!-- BEGIN PORTLET-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-dark hide"></i>
            <span class="caption-subject font-dark bold uppercase">{{title}}</span>
            <span class="caption-helper">{{subtitle}}</span>
        </div>
        <!-- <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <label class="btn red btn-outline btn-circle btn-sm active">
                    <input type="radio" name="options" class="toggle" id="option1">周数据</label>
                <label class="btn red btn-outline btn-circle btn-sm">
                    <input type="radio" name="options" class="toggle" id="option2">月数据</label>
            </div>
        </div> -->
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-lg-9 col-xs-12 col-sm-12">
                <div id="{{id}}_loading">
                    <img src="/frontend/global/img/loading.gif" alt="loading" /> </div>
                <div id="{{id}}_content" class="display-none">
                    {{custom_chart|safe}}
                </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-sm-12">
                <div style="margin: 100px 0 0 0">
                    {% if mes1 %}
                    <div class="note note-success">
                        <p> {{mes1}} </p>
                    </div>
                    {% endif %}
                    {% if mes2 %}
                    <div class="note note-info">
                        <p> {{mes2}} </p>
                    </div>
                    {% endif %}
                    {% if mes3 %}
                    <div class="note note-danger">
                        <p> {{mes3}} </p>
                    </div>
                    {% endif %}
                    {% if mes4 %}
                    <div class="note note-warning">
                        <p> {{mes4}} </p>
                    </div>
                    {% endif %}
                </div>
            </div>
    </div>
</div>
<!-- END PORTLET-->
<script type="text/javascript">
    $(document).ready(function() {
        if ($('#{{id}}_content').size() != 0) {
            $('#{{id}}_loading').hide();
            $('#{{id}}_content').show();
        }
    });
</script>
{%-endmacro %}



{% macro line1(title='', subtitle='', data={}) %}
    <!-- BEGIN PORTLET-->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bar-chart font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">{{title}}</span>
                <span class="caption-helper">{{subtitle}}</span>
            </div>
            <!-- <div class="actions">
                <div class="btn-group btn-group-devided" data-toggle="buttons">
                    <label class="btn red btn-outline btn-circle btn-sm active">
                        <input type="radio" name="options" class="toggle" id="option1">周数据</label>
                    <label class="btn red btn-outline btn-circle btn-sm">
                        <input type="radio" name="options" class="toggle" id="option2">月数据</label>
                </div>
            </div> -->
        </div>
        <div class="portlet-body">
            <div id="line1_loading">
                <img src="/frontend/global/img/loading.gif" alt="loading" /> </div>
            <div id="line1_content" class="display-none">
                <div id="line1" class="chart"> </div>
            </div>
        </div>
    </div>
    <!-- END PORTLET-->
    <script type="text/javascript">
        $(document).ready(function() {
            if ($('#line1_content').size() != 0) {
                $('#line1_loading').hide();
                $('#line1_content').show();
                var chart = $('#line1')[0];
                var mychart = echarts.init(chart, 'macarons');
                var option = {
                    title: {
                        text: '{{title}}',
                        show: false,
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data: {{data.legend|safe}}
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: { name: '{{title}}'}
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : {{data.axis|safe}},
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {% for legend in data.legend %}
                            {
                                name: '{{legend}}',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {normal: {}},
                                data: {{data.category[legend]}},
                            },
                        {% endfor %}
                    ]
                };
            mychart.setOption(option);
            $(window).resize(function() {
                //重置容器高宽
                mychart.resize();
            });
            }
        });
    </script>
{%-endmacro %}


{% macro bar1(title='', subtitle='', data={}) %}
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-share font-red-sunglo hide"></i>
                <span class="caption-subject font-dark bold uppercase">{{title}}</span>
                <span class="caption-helper">{{subtitle}}</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="bar1_loading">
                <img src="/frontend/global/img/loading.gif" alt="loading" /> </div>
            <div id="bar1_content" class="display-none">
                <div id="bar1" style="height: 328px;"> </div>
            </div>
            <div style="margin: 20px 0 10px 30px">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                        <span class="label label-sm label-success"> 总产量: </span>
                        <h3>15,700,000</h3>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                        <span class="label label-sm label-info"> 良品量: </span>
                        <h3>14,760,000</h3>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                        <span class="label label-sm label-danger"> 不良量: </span>
                        <h3>940,000</h3>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                        <span class="label label-sm label-warning"> 不良率: </span>
                        <h3>5.99%</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            if ($('#bar1_content').size() != 0) {
                $('#bar1_loading').hide();
                $('#bar1_content').show();
                var chart_bar1 = $('#bar1')[0];
                var mychart_bar1 = echarts.init(chart_bar1, 'macarons');
                var option = {
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {
                            type : 'shadow'
                        }
                    },
                    legend: {
                        data: {{(data.legend1 + data.legend2)|safe}}
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    yAxis : [
                        {
                            type : 'category',
                            axisTick : {show: false},
                            data : {{data.axis|safe}},
                        }
                    ],
                    series : [
                        {% for legend in data.legend1 %}
                            {
                                name: '{{legend}}',
                                type: 'bar',
                                stack: '总量',
                                label: {
                                    normal: {
                                        show: true,
                                        {% if data.category[legend][0] < 0 %}
                                        position: 'left'
                                        {% else %}
                                        position: 'inside'
                                        {% endif %}
                                    }
                                },
                                data: {{data.category[legend]}},
                            },
                        {% endfor %}
                        {% for legend in data.legend2 %}
                            {
                                name: '{{legend}}',
                                type: 'bar',
                                label: {
                                    normal: {
                                        show: true,
                                        {% if data.category[legend][0] < 0 %}
                                        position: 'left'
                                        {% else %}
                                        position: 'inside'
                                        {% endif %}
                                    }
                                },
                                data: {{data.category[legend]}},
                            },
                        {% endfor %}
                    ]
                };
            mychart_bar1.setOption(option);
            $(window).resize(function() {
                //重置容器高宽
                mychart_bar1.resize();
            });
            }
        });
    </script>
{%-endmacro%}